<h1>Editar Pedido</h1>
<div class="well">
<form #formPedido="ngForm">
<div class="form-group">
 <label for="data">Data:</label>
 <input type="text" class="form-control" id="data" name="data"
    [(ngModel)]="pedido.data"
    #data="ngModel"
    required>
 <div *ngIf="data.errors && (data.dirty || data.touched)" class="alert alert-danger">
 <div [hidden]="!data.errors['required']" >Digite a data do pedido.</div>
  </div>
 </div>
 <div class="form-group">
    <label for="prdutos">Produtos:</label>

    <ng-select name="produto" [items]="produtos"
    bindLabel="itens"
    [(ngModel)]="pedido.produtos"
    placeholder="Selecione um produto">
    </ng-select>

    </div>
 <div class="form-group">
    <label for="quantidade">Quantidade:</label>
    <input type="text" class="form-control" id="quantidade" name="quantidade"
    [(ngModel)]="pedido.quantidade"
    #quantidade="ngModel"
    required>
    <div [hidden]="!quantidade.errors?.['required']" class="alert alert-danger">
    <div> Digite o quantidade do pedido.</div>
    </div>
    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" class="form-control" id="cpf" name="cpf"
        [(ngModel)]="pedido.cpf"
        #cpf="ngModel"
        numerico
        required>
        <div [hidden]="!cpf.errors?.['required']" class="alert alert-danger">
        <div> Digite o CPF do pedido.</div>
        </div>
   </div>
   <div class="form-group">
    <button type="button" class="btn btn-primary"
        (click)="atualizar()"
        [disabled]="!formPedido.form.valid">
    <i class="fa fa-save" aria-hidden="true"></i> Atualizar
    </button>
    <a class="btn btn-secondary"
    [routerLink]="['/pedidos']">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
    </a>
    </div>
   </div>